:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
} 