# This is the 24 word TEST_ZKEVM_WALLET_MNEMONIC stored in 1Password
TEST_ZKEVM_WALLET_MNEMONIC=

# This is the private key for the banker account stored in 1Password (public: 0x9C1634bebC88653D2Aebf4c14a3031f62092b1D9)
BANKER_PRIVATE_KEY=

# devnet
# CHAIN_NAME=imtbl-zkevm-devnet
# API_URL=https://api.dev.immutable.com
# TEST_ZKEVM_API_RATE_LIMIT_BYPASS_KEY=
# RPC_URL=https://rpc.dev.immutable.com
# TEST_ZKEVM_PROJECT_HUB_GENERATED_API_KEY=

# testnet
# CHAIN_NAME=imtbl-zkevm-testnet
# API_URL=https://indexer-mr.sandbox.imtbl.com
# TEST_ZKEVM_API_RATE_LIMIT_BYPASS_KEY=
# RPC_URL=https://zkevm-rpc.sandbox.x.immutable.com/
# TEST_ZKEVM_PROJECT_HUB_GENERATED_API_KEY=
