{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "standard-with-typescript"
    // "eslint:recommended",
    // "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/semi": ["error", "always"],
    "@typescript-eslint/no-extra-semi": 2
  }
}
