node_modules/

# build folders
dist/
docs/
sdk/scripts/

# test configs
jest.*.js

# Readmes
**/*.md

# sample apps
**sample-app**/
**playground**/
samples/apps/passport/
samples/**/*

# put module specific ignore paths here
