node_modules/

# build folders
dist/
docs/
sdk/scripts/

# test configs
jest.*.js

# Readmes
**/*.md

# sample apps
**sample-app**/
**playground**/
examples/**/*

# Typedoc parser
typedoc-parser.js

# generated clients
packages/internal/generated-clients/

# put module specific ignore paths here
