{
  "root": true,
  "extends": ["airbnb", "airbnb-typescript"],
  "ignorePatterns": [
    "jest.config.*",
    "rollup.config.*",
    "node_modules/",
    "dist/",
    "**sample-app**/",
    "**playground**/",
    "*.cjs",
    "tests/func-tests/",
    "tsup.*.ts"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.base.json",
    "tsconfigRootDir": "."
  },
  "rules": {
    "import/prefer-default-export": ["off"],
    "no-plusplus": ["off"],
    "max-classes-per-file": ["off"],
    "max-len": [
      "error", 
      { "code": 120, "ignoreComments": true, "ignoreTrailingComments": true }
    ],    
    "react/button-has-type": ["off"],
    "no-restricted-syntax": [
      "error",
      "ForInStatement",
      "LabeledStatement",
      "WithStatement"
    ],
    "import/no-extraneous-dependencies": ["off"],
    "@typescript-eslint/return-await": ["off"]
  },
  "overrides": [
    {
      "files": ["./examples/passport/**"],
      "rules": {
        "@typescript-eslint/no-unused-vars": "warn",
        "no-underscore-dangle": "warn"
      }
    }
  ]
}
