node_modules/
dist/
.idea/
.DS_Store
.vscode
.parcel-cache

.env
.env.local

*version.properties

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.yalc
yalc.lock

package-lock.json