node_modules/
dist/
coverage/
cache/
.idea/
.DS_Store
.vscode
.parcel-cache

.env
.env.local

*version.properties

.pnp.*

.yalc
yalc.lock

package-lock.json

docs/



.nx/cache
.nx/workspace-data
nx-cloud.env
dep-graph.json
examples/**/.env
examples/**/playwright-report/
examples/**/test-results/