node_modules/
dist/
coverage/
cache/
.idea/
.DS_Store
.vscode
.parcel-cache

.env
.env.local

*version.properties

.pnp.*
.yarn/cache
.yarn/install-state.gz

.yalc
yalc.lock

package-lock.json

docs/
