# registry=http://localhost:4873
link-workspace-packages=true
prefer-workspace-packages=true
save-workspace-protocol=false
disallow-workspace-cycles=true
public-hoist-pattern[]=@imtbl/*
public-hoist-pattern[]=@types/jest
# Publicly hoist @segment/* packages to fix ts(2742) error with @imtbl/react-analytics