# @imtbl:registry=http://localhost:4873
link-workspace-packages=false
prefer-workspace-packages=true
save-workspace-protocol=false
disallow-workspace-cycles=true
workspace-concurrency=0
public-hoist-pattern[]=@imtbl/*
public-hoist-pattern[]=*openzeppelin*
public-hoist-pattern[]=*solidity*