# this example .env contains varibles for dev env.

NETWORK=sepolia
PUBLIC_API_URL=https://api.dev.x.immutable.com/v1

TEST_STARK_CONTRACT_ADDRESS=0x590C809bd5FF50DCb39e4320b60139B29B880174
TEST_REGISTRATION_CONTRACT_ADDRESS=0x2F76E4e48A5f9e517765B70a4DEc67781d35A199

# ---- EDIT THESE VALUES ----
TEST_ALCHEMY_API_KEY=<your-alchemy-api-key>
# Add your token address here
TEST_TOKEN_ADDRESS=

# The tests need 3 wallets to run
# The Banker wallet needs at least 1 SepoliaETH on L1 and 1 SepoliaETH on L2

# This is the owner of TEST_TOKEN_ADDRESS
TEST_WALLET1_PRIVATE_KEY=
TEST_WALLET1_STARK_PRIVATE_KEY=
TEST_WALLET2_PRIVATE_KEY=
TEST_WALLET2_STARK_PRIVATE_KEY=
TEST_WALLET_BANKER_PRIVATE_KEY=
TEST_WALLET_BANKER_STARK_PRIVATE_KEY=
# ---------------------------

# Moonpay Webhook Key
MOONPAY_WEBHOOK_KEY=

TEST_STARKEX_BATCH_SIZE=500
TEST_UNREGISTERED_USER_PRIVATE_KEY=
TEST_UNREGISTERED_USER_STARK_PRIVATE_KEY=
