# Replace these values with your project settings at https://hub.immutable.com
# Make sure these values are for the correct Immutable Environment 'sandbox' (zkEVM Testnet) or 'production' (zkEVM Mainnet)

# Port is 5174 in vite dev mode and 4173 in vite prod mode

VITE_IMMUTABLE_ENVIRONMENT='sandbox' # either 'sandbox' for zkEVM testnet or 'production' for zkEVM mainnet

# Testnet variables
VITE_SANDBOX_IMMUTABLE_PUBLISHABLE_KEY=
VITE_SANDBOX_PASSPORT_CLIENT_ID=
VITE_SANDBOX_PASSPORT_LOGIN_REDIRECT_URI='http://localhost:5174/passport-redirect'
VITE_SANDBOX_PASSPORT_LOGOUT_REDIRECT_URI='http://localhost:5174'
VITE_SANDBOX_IMMUTABLE_API_BASE_URL="https://api.sandbox.immutable.com"

# Mainnet variables
VITE_MAINNET_IMMUTABLE_PUBLISHABLE_KEY=
VITE_MAINNET_PASSPORT_CLIENT_ID=
VITE_MAINNET_PASSPORT_LOGIN_REDIRECT_URI=
VITE_MAINNET_PASSPORT_LOGOUT_REDIRECT_URI=
VITE_MAINNET_IMMUTABLE_API_BASE_URL="https://api.immutable.com"

# Site configuration
VITE_MINTING_BACKEND_API_BASE_URL="http://localhost:3000"