.widget {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.widget > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
