html, body {
  height: 100%;
  margin: 0;
  overflow: auto;
}

body {
  margin: 0;
}

.flex-container {
  min-height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
}

.mb-1 {
  margin-bottom: 1rem;
}