html, body {
    height: 100%;
}
body {
    margin: 0;
}
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mb-1 {
    margin-bottom: 1rem;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.link-container {
    margin: 2rem 0;
}

.user-info {
    margin: 2rem auto;
    padding: 1.5rem;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    max-width: 500px;
    text-align: left;
}

.link {
    color: #0070f3;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}