{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "include": [
    "src/app/**/*.tsx",
    "src/app/**/*.ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "**/*.test.ts",
    "**/*.spec.ts",
    "tests/**/*"
  ],
  "reporter": [
    "text",
    "html"
  ],
  "statements": 70,
  "branches": 70,
  "functions": 70,
  "lines": 70
} 