/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../node_modules/.pnpm/next@14.2.7_@babel+core@7.26.9_@playwright+test@1.45.3_babel-plugin-macros@3.1.0_react-dom@18_355siomoy5celo37c3udp6igry/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!../../../node_modules/.pnpm/next@14.2.7_@babel+core@7.26.9_@playwright+test@1.45.3_babel-plugin-macros@3.1.0_react-dom@18_355siomoy5celo37c3udp6igry/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/globals.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
html, body {
  height: 100%;
}
body {
  margin: 0;
}
.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mb-1 {
  margin-bottom: 1rem;
}

.info-container {
  max-width: 800px;
  margin-top: 1rem;
} 
