{
  "openapi": "3.0.3",
  "info": {
    "title": "Immutable zkEVM API",
    "version": "1.0.0",
    "description": "Immutable Multi Rollup API",
    "contact": {
      "name": "Immutable API Support",
      "email": "support@immutable.com",
      "url": "https://support.immutable.com"
    }
  },
  "servers": [
    {
      "url": "https://api.sandbox.immutable.com"
    }
  ],
  "tags": [
    {
      "name": "activities",
      "description": "Activities Endpoints"
    },
    {
      "name": "chains",
      "description": "Chains Endpoints"
    },
    {
      "name": "collections",
      "description": "Collections Endpoints"
    },
    {
      "name": "nfts",
      "description": "NFTs Endpoints"
    },
    {
      "name": "nft owners",
      "description": "NFT Owner Endpoints"
    },
    {
      "name": "metadata",
      "description": "NFT Metadata Endpoints"
    },
    {
      "name": "tokens",
      "description": "ERC20 Token Endpoints"
    },
    {
      "name": "demopage",
      "description": "Temporary HTML endpoint for demo purposes"
    }
  ],
  "paths": {
    "/v1/chains/{chain_name}/activity-history": {
      "get": {
        "tags": [
          "activities"
        ],
        "operationId": "ListActivityHistory",
        "summary": "List history of activities",
        "description": "List activities sorted by updated_at timestamp ascending, useful for time based data replication",
        "parameters": [
          {
            "name": "chain_name",
            "description": "The name of chain",
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "in": "path",
            "required": true,
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "from_updated_at",
            "in": "query",
            "description": "From indexed at including given date",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2022-08-16T17:43:26.991388Z",
              "format": "date-time"
            }
          },
          {
            "name": "to_updated_at",
            "in": "query",
            "required": false,
            "description": "To indexed at including given date",
            "schema": {
              "type": "string",
              "example": "2022-08-16T17:43:26.991388Z",
              "format": "date-time"
            }
          },
          {
            "name": "contract_address",
            "in": "query",
            "description": "The contract address of the collection",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          {
            "name": "activity_type",
            "in": "query",
            "description": "The activity type",
            "required": false,
            "example": "burn",
            "schema": {
              "$ref": "#/components/schemas/ActivityType"
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListActivitiesResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/activities": {
      "get": {
        "tags": [
          "activities"
        ],
        "operationId": "ListActivities",
        "summary": "List all activities",
        "description": "List all activities",
        "parameters": [
          {
            "name": "chain_name",
            "description": "The name of chain",
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "in": "path",
            "required": true,
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "contract_address",
            "in": "query",
            "description": "The contract address of NFT or ERC20 Token",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          {
            "name": "token_id",
            "in": "query",
            "description": "An `uint256` token id as string",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "account_address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3",
            "description": "The account address activity contains"
          },
          {
            "name": "activity_type",
            "in": "query",
            "description": "The activity type",
            "required": false,
            "example": "burn",
            "schema": {
              "$ref": "#/components/schemas/ActivityType"
            }
          },
          {
            "name": "transaction_hash",
            "in": "query",
            "description": "The transaction hash of activity",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "0x68d9eac5e3b3c3580404989a4030c948a78e1b07b2b5ea5688d8c38a6c61c93e"
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListActivitiesResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/activities/{activity_id}": {
      "get": {
        "tags": [
          "activities"
        ],
        "operationId": "GetActivity",
        "summary": "Get a single activity by ID",
        "description": "Get a single activity by ID",
        "parameters": [
          {
            "name": "chain_name",
            "description": "The name of chain",
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "in": "path",
            "required": true,
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "activity_id",
            "description": "The id of activity",
            "schema": {
              "$ref": "#/components/schemas/ActivityID"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetActivityResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/collections": {
      "get": {
        "description": "List all collections",
        "tags": [
          "collections"
        ],
        "operationId": "ListCollections",
        "summary": "List all collections",
        "parameters": [
          {
            "name": "chain_name",
            "in": "path",
            "description": "The name of chain",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "contract_address",
            "in": "query",
            "required": false,
            "description": "List of contract addresses to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3"
              }
            }
          },
          {
            "name": "verification_status",
            "in": "query",
            "required": false,
            "description": "List of verification status to filter by",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AssetVerificationStatus"
              }
            }
          },
          {
            "name": "from_updated_at",
            "in": "query",
            "description": "Datetime to use as the oldest updated timestamp",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2022-08-16T17:43:26.991388Z",
              "format": "date-time"
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCollectionsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/collections/{contract_address}": {
      "get": {
        "description": "Get collection by contract address",
        "tags": [
          "collections"
        ],
        "operationId": "GetCollection",
        "summary": "Get collection by contract address",
        "parameters": [
          {
            "name": "contract_address",
            "in": "path",
            "description": "The address contract",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCollectionResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/collections/{contract_address}/refresh-metadata": {
      "post": {
        "description": "Refresh collection metadata",
        "summary": "Refresh collection metadata",
        "tags": [
          "collections"
        ],
        "operationId": "RefreshCollectionMetadata",
        "security": [
          {
            "ImmutableApiKey": [
              "refresh:metadata"
            ]
          },
          {
            "BearerAuth": [
              "refresh:metadata"
            ]
          }
        ],
        "parameters": [
          {
            "name": "contract_address",
            "in": "path",
            "description": "The address contract",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          }
        ],
        "requestBody": {
          "description": "The request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshCollectionMetadataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshCollectionMetadataResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorisedRequest"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/accounts/{account_address}/collections": {
      "get": {
        "description": "List collections by NFT owner account address",
        "tags": [
          "collections"
        ],
        "operationId": "ListCollectionsByNFTOwner",
        "summary": "List collections by NFT owner",
        "parameters": [
          {
            "name": "account_address",
            "in": "path",
            "description": "Account address",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3"
          },
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCollectionsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/collections/{contract_address}/nfts/{token_id}": {
      "get": {
        "description": "Get NFT by token ID",
        "tags": [
          "nfts"
        ],
        "summary": "Get NFT by token ID",
        "operationId": "GetNFT",
        "parameters": [
          {
            "name": "contract_address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The address of NFT contract",
            "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3"
          },
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "An `uint256` token id as string",
            "example": "1"
          },
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNFTResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/collections/{contract_address}/metadata/{metadata_id}": {
      "get": {
        "description": "Get metadata by ID",
        "tags": [
          "metadata"
        ],
        "summary": "Get metadata by ID",
        "operationId": "GetMetadata",
        "parameters": [
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "contract_address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The address of metadata contract",
            "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3"
          },
          {
            "name": "metadata_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MetadataID"
            },
            "description": "The id of the metadata"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMetadataResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/collections/{contract_address}/metadata": {
      "get": {
        "description": "Get a list of metadata from the given contract",
        "tags": [
          "metadata"
        ],
        "summary": "Get a list of metadata from the given contract",
        "operationId": "ListMetadata",
        "parameters": [
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "contract_address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The address of metadata contract",
            "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3"
          },
          {
            "name": "from_updated_at",
            "in": "query",
            "description": "Datetime to use as the oldest updated timestamp",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2022-08-16T17:43:26.991388Z",
              "format": "date-time"
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMetadataResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/metadata": {
      "get": {
        "description": "Get a list of metadata from the given chain",
        "tags": [
          "metadata"
        ],
        "summary": "Get a list of metadata from the given chain",
        "operationId": "ListMetadataForChain",
        "parameters": [
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "from_updated_at",
            "in": "query",
            "description": "Datetime to use as the oldest updated timestamp",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2022-08-16T17:43:26.991388Z",
              "format": "date-time"
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMetadataResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/collections/{contract_address}/metadata/refresh-metadata": {
      "post": {
        "x-go-name": "RefreshMetadataByID",
        "operationId": "RefreshMetadataByID",
        "description": "Refresh stacked metadata",
        "summary": "Refresh stacked metadata",
        "tags": [
          "metadata"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ChainName"
          },
          {
            "$ref": "#/components/parameters/ContractAddress"
          }
        ],
        "security": [
          {
            "ImmutableApiKey": [
              "refresh:metadata"
            ]
          }
        ],
        "requestBody": {
          "description": "NFT Metadata Refresh Request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshMetadataByIDRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "imx-refreshes-limit": {
                "$ref": "#/components/headers/MetadataRefreshLimit"
              },
              "imx-refresh-limit-reset": {
                "$ref": "#/components/headers/MetadataRefreshLimitReset"
              },
              "imx-remaining-refreshes": {
                "$ref": "#/components/headers/MetadataRefreshLimitRemaining"
              },
              "retry-after": {
                "$ref": "#/components/headers/MetadataRefreshRetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataRefreshRateLimitResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorisedRequest"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyMetadataRefreshes"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/collections/{contract_address}/nfts": {
      "get": {
        "description": "List NFTs by contract address",
        "tags": [
          "nfts"
        ],
        "summary": "List NFTs by contract address",
        "operationId": "ListNFTs",
        "parameters": [
          {
            "name": "contract_address",
            "in": "path",
            "required": true,
            "description": "Contract address",
            "schema": {
              "type": "string"
            },
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "token_id",
            "in": "query",
            "required": false,
            "description": "List of token IDs to filter by",
            "schema": {
              "type": "array",
              "maxItems": 30,
              "items": {
                "type": "string",
                "example": "1"
              }
            }
          },
          {
            "name": "from_updated_at",
            "in": "query",
            "description": "Datetime to use as the oldest updated timestamp",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2022-08-16T17:43:26.991388Z",
              "format": "date-time"
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListNFTsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/accounts/{account_address}/nfts": {
      "get": {
        "description": "List NFTs by account address",
        "tags": [
          "nfts"
        ],
        "operationId": "ListNFTsByAccountAddress",
        "summary": "List NFTs by account address",
        "parameters": [
          {
            "name": "account_address",
            "in": "path",
            "description": "Account address",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3"
          },
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "contract_address",
            "in": "query",
            "description": "The address of contract",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          {
            "name": "token_id",
            "in": "query",
            "required": false,
            "description": "List of token IDs to filter by",
            "schema": {
              "type": "array",
              "maxItems": 30,
              "items": {
                "type": "string",
                "example": "1"
              }
            }
          },
          {
            "name": "from_updated_at",
            "in": "query",
            "description": "Datetime to use as the oldest updated timestamp",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2022-08-16T17:43:26.991388Z",
              "format": "date-time"
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListNFTsByOwnerResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/collections/{contract_address}/nfts/{token_id}/owners": {
      "get": {
        "description": "List NFT owners by token ID",
        "tags": [
          "nft owners"
        ],
        "operationId": "ListNFTOwners",
        "summary": "List NFT owners by token ID",
        "parameters": [
          {
            "name": "contract_address",
            "in": "path",
            "description": "The address of contract",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          {
            "name": "token_id",
            "in": "path",
            "description": "An `uint256` token id as string",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListNFTOwnersResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/nfts": {
      "get": {
        "description": "List all NFTs on a chain",
        "tags": [
          "nfts"
        ],
        "operationId": "ListAllNFTs",
        "summary": "List all NFTs",
        "parameters": [
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "from_updated_at",
            "in": "query",
            "description": "Datetime to use as the oldest updated timestamp",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2022-08-16T17:43:26.991388Z",
              "format": "date-time"
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListNFTsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/nft-owners": {
      "get": {
        "description": "List all NFT owners on a chain",
        "tags": [
          "nft owners"
        ],
        "operationId": "ListAllNFTOwners",
        "summary": "List all NFT owners",
        "parameters": [
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "from_updated_at",
            "in": "query",
            "description": "Datetime to use as the oldest updated timestamp",
            "schema": {
              "type": "string",
              "example": "2022-08-16T17:43:26.991388Z",
              "format": "date-time"
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListNFTOwnersResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/collections/{contract_address}/owners": {
      "get": {
        "description": "List owners by contract address",
        "tags": [
          "nft owners"
        ],
        "operationId": "ListOwnersByContractAddress",
        "summary": "List owners by contract address",
        "parameters": [
          {
            "name": "contract_address",
            "in": "path",
            "description": "The address of contract",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "account_address",
            "in": "query",
            "required": false,
            "description": "List of account addresses to filter by",
            "schema": {
              "type": "array",
              "maxItems": 30,
              "items": {
                "type": "string",
                "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3"
              }
            }
          },
          {
            "name": "from_updated_at",
            "in": "query",
            "description": "Datetime to use as the oldest updated timestamp",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2022-08-16T17:43:26.991388Z",
              "format": "date-time"
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCollectionOwnersResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/tokens": {
      "get": {
        "description": "List ERC20 tokens",
        "tags": [
          "tokens"
        ],
        "operationId": "ListERC20Tokens",
        "summary": "List ERC20 tokens",
        "parameters": [
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            }
          },
          {
            "name": "from_updated_at",
            "in": "query",
            "description": "Datetime to use as the oldest updated timestamp",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2022-08-16T17:43:26.991388Z",
              "format": "date-time"
            }
          },
          {
            "name": "verification_status",
            "in": "query",
            "required": false,
            "description": "List of verification status to filter by",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AssetVerificationStatus"
              }
            }
          },
          {
            "name": "is_canonical",
            "in": "query",
            "required": false,
            "description": "[Experimental - Canonical token data may be updated] Filter by canonical or non-canonical tokens.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTokensResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/tokens/{contract_address}": {
      "get": {
        "description": "Get single ERC20 token",
        "tags": [
          "tokens"
        ],
        "operationId": "GetERC20Token",
        "summary": "Get single ERC20 token",
        "parameters": [
          {
            "name": "contract_address",
            "in": "path",
            "description": "The address of contract",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTokenResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains": {
      "get": {
        "description": "List supported chains",
        "summary": "List supported chains",
        "tags": [
          "chains"
        ],
        "operationId": "ListChains",
        "parameters": [
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListChainsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/collections/{contract_address}/nfts/refresh-metadata": {
      "post": {
        "description": "Refresh NFT metadata",
        "summary": "Refresh NFT metadata",
        "tags": [
          "metadata"
        ],
        "operationId": "RefreshNFTMetadataByTokenID",
        "security": [
          {
            "ImmutableApiKey": [
              "refresh:metadata"
            ]
          }
        ],
        "parameters": [
          {
            "name": "contract_address",
            "in": "path",
            "description": "The address of contract",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            }
          }
        ],
        "requestBody": {
          "description": "the request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshNFTMetadataByTokenIDRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "imx-refreshes-limit": {
                "$ref": "#/components/headers/MetadataRefreshLimit"
              },
              "imx-refresh-limit-reset": {
                "$ref": "#/components/headers/MetadataRefreshLimitReset"
              },
              "imx-remaining-refreshes": {
                "$ref": "#/components/headers/MetadataRefreshLimitRemaining"
              },
              "retry-after": {
                "$ref": "#/components/headers/MetadataRefreshRetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataRefreshRateLimitResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorisedRequest"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyMetadataRefreshes"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/collections/{contract_address}/nfts/mint-requests": {
      "post": {
        "description": "Create a mint request to mint a set of NFTs for a given collection",
        "summary": "Mint NFTs",
        "security": [
          {
            "ImmutableApiKey": [
              "write:mint-request"
            ]
          }
        ],
        "tags": [
          "nfts"
        ],
        "operationId": "CreateMintRequest",
        "parameters": [
          {
            "name": "contract_address",
            "in": "path",
            "description": "The address of contract",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            }
          }
        ],
        "requestBody": {
          "description": "Create Mint Request Body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMintRequestRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "imx-mint-requests-limit": {
                "$ref": "#/components/headers/MintRequestsLimit"
              },
              "imx-mint-requests-limit-reset": {
                "$ref": "#/components/headers/MintRequestsLimitReset"
              },
              "imx-remaining-mint-requests": {
                "$ref": "#/components/headers/MintRequestsLimitRemaining"
              },
              "imx-mint-requests-retry-after": {
                "$ref": "#/components/headers/MintRequestsRetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMintRequestResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorisedRequest"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyMintRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "description": "Retrieve the status of all mints for a given contract address",
        "summary": "List mint requests",
        "security": [
          {
            "ImmutableApiKey": [
              "write:mint-request"
            ]
          }
        ],
        "tags": [
          "nfts"
        ],
        "operationId": "ListMintRequests",
        "parameters": [
          {
            "name": "contract_address",
            "in": "path",
            "description": "The address of contract",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          },
          {
            "name": "status",
            "description": "The status of the mint request",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/MintRequestStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMintRequestsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorisedRequest"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/collections/{contract_address}/nfts/mint-requests/{reference_id}": {
      "get": {
        "description": "Retrieve the status of a mint request identified by its reference_id",
        "summary": "Get mint request by reference ID",
        "security": [
          {
            "ImmutableApiKey": [
              "write:mint-request"
            ]
          }
        ],
        "tags": [
          "nfts"
        ],
        "operationId": "GetMintRequest",
        "parameters": [
          {
            "name": "contract_address",
            "in": "path",
            "description": "The address of contract",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            }
          },
          {
            "name": "reference_id",
            "description": "The id of the mint request",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "67f7d464-b8f0-4f6a-9a3b-8d3cb4a21af0"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMintRequestsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorisedRequest"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/crafting/sign": {
      "post": {
        "description": "Sign a crafting payload",
        "tags": [
          "crafting"
        ],
        "operationId": "SignCraftingPayload",
        "summary": "Sign a crafting payload",
        "security": [
          {
            "ImmutableApiKey": [
              "create:collections"
            ]
          }
        ],
        "parameters": [
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          }
        ],
        "requestBody": {
          "description": "The request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignCraftingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignCraftingResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorisedRequest"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "ImmutableApiKey": {
        "x-go-name": "ImmutableApiKey",
        "type": "apiKey",
        "in": "header",
        "name": "x-immutable-api-key"
      }
    },
    "parameters": {
      "ChainName": {
        "name": "chain_name",
        "description": "The name of chain",
        "in": "path",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/ChainName"
        },
        "examples": {
          "testnet": {
            "value": "imtbl-zkevm-testnet",
            "summary": "Immutable zkEVM Public Testnet"
          }
        }
      },
      "ContractAddress": {
        "name": "contract_address",
        "in": "path",
        "required": true,
        "description": "Contract address",
        "schema": {
          "$ref": "#/components/schemas/Address"
        }
      }
    },
    "responses": {
      "NotFound": {
        "description": "The specified resource was not found (404)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIError404"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request (400)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIError400"
            }
          }
        }
      },
      "UnauthorisedRequest": {
        "description": "Unauthorised Request (401)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIError401"
            }
          }
        }
      },
      "ForbiddenRequest": {
        "description": "Forbidden Request (403)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIError403"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict (409)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIError409"
            }
          }
        }
      },
      "TooManyMetadataRefreshes": {
        "description": "Too Many Metadata refreshes (429)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIError429"
            }
          }
        },
        "headers": {
          "imx-refreshes-limit": {
            "$ref": "#/components/headers/MetadataRefreshLimit"
          },
          "imx-refresh-limit-reset": {
            "$ref": "#/components/headers/MetadataRefreshLimitReset"
          },
          "imx-remaining-refreshes": {
            "$ref": "#/components/headers/MetadataRefreshLimitRemaining"
          },
          "Retry-After": {
            "$ref": "#/components/headers/MetadataRefreshRetryAfter"
          }
        }
      },
      "TooManyMintRequests": {
        "description": "Too Many mint requests (429)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIError429"
            }
          }
        },
        "headers": {
          "imx-mint-requests-limit": {
            "$ref": "#/components/headers/MintRequestsLimit"
          },
          "imx-mint-requests-limit-reset": {
            "$ref": "#/components/headers/MintRequestsLimitReset"
          },
          "imx-remaining-mint-requests": {
            "$ref": "#/components/headers/MintRequestsLimitRemaining"
          },
          "imx-mint-requests-retry-after": {
            "$ref": "#/components/headers/MintRequestsRetryAfter"
          },
          "Retry-After": {
            "$ref": "#/components/headers/MintRequestsRetryAfter"
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error (500)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIError500"
            }
          }
        }
      }
    },
    "headers": {
      "MetadataRefreshLimit": {
        "description": "The refresh request limit available to the project for each one-hour window.",
        "schema": {
          "type": "string"
        }
      },
      "MetadataRefreshLimitReset": {
        "description": "The expiry date of the current one-hour window.",
        "schema": {
          "type": "string"
        }
      },
      "MetadataRefreshLimitRemaining": {
        "description": "The number of refresh requests remaining in the current window.",
        "schema": {
          "type": "string"
        }
      },
      "MetadataRefreshRetryAfter": {
        "description": "The number of seconds until the next refresh request can be made.",
        "schema": {
          "type": "string"
        }
      },
      "MintRequestsLimit": {
        "description": "The mint requests limit available to the project for each time window.",
        "schema": {
          "type": "string"
        }
      },
      "MintRequestsLimitReset": {
        "description": "The expiry date of the current time window.",
        "schema": {
          "type": "string"
        }
      },
      "MintRequestsLimitRemaining": {
        "description": "The number of mint requests remaining in the current window.",
        "schema": {
          "type": "string"
        }
      },
      "MintRequestsRetryAfter": {
        "description": "The number of seconds until the next refresh request can be made.",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "PageSize": {
        "type": "integer",
        "format": "int32",
        "description": "Maximum number of items to return",
        "minimum": 1,
        "default": 100,
        "maximum": 200,
        "example": 10
      },
      "PageCursor": {
        "type": "string",
        "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
        "example": "ewogICJ0eXBlIjogInByZXYiLAogICJpdGVtIjogewogICAgImlkIjogNjI3NTEzMCwKICAgICJjcmVhdGVkX2F0IjogIjIwMjItMDktMTNUMTc6MDQ6MTIuMDI0MTI2WiIKICB9Cn0="
      },
      "Page": {
        "type": "object",
        "description": "Pagination properties",
        "properties": {
          "previous_cursor": {
            "type": "string",
            "nullable": true,
            "description": "First item as an encoded string",
            "example": "ewogICJ0eXBlIjogInByZXYiLAogICJpdGVtIjogewogICAgImlkIjogNjI3NTEzMCwKICAgICJjcmVhdGVkX2F0IjogIjIwMjItMDktMTNUMTc6MDQ6MTIuMDI0MTI2WiIKICB9Cn0="
          },
          "next_cursor": {
            "type": "string",
            "nullable": true,
            "description": "Last item as an encoded string",
            "example": "ewogICJ0eXBlIjogInByZXYiLAogICJpdGVtIjogewogICAgImlkIjogNjI3NTEzMCwKICAgICJjcmVhdGVkX2F0IjogIjIwMjItMDktMTNUMTc6MDQ6MTIuMDI0MTI2WiIKICB9Cn0="
          }
        },
        "required": [
          "previous_cursor",
          "next_cursor"
        ]
      },
      "ActivityType": {
        "description": "The activity type",
        "example": "mint",
        "type": "string",
        "enum": [
          "mint",
          "burn",
          "transfer",
          "sale",
          "deposit",
          "withdrawal"
        ]
      },
      "ActivityNFT": {
        "type": "object",
        "properties": {
          "contract_type": {
            "$ref": "#/components/schemas/NFTContractType"
          },
          "contract_address": {
            "description": "The token contract address",
            "type": "string",
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          "token_id": {
            "description": "An `uint256` token id as string",
            "type": "string",
            "example": "1"
          },
          "amount": {
            "description": "(deprecated - will never be filled, use amount on Activity instead) The amount of tokens exchanged",
            "type": "string",
            "example": "1",
            "deprecated": true
          }
        },
        "required": [
          "contract_type",
          "contract_address",
          "token_id",
          "amount"
        ]
      },
      "ActivityToken": {
        "type": "object",
        "properties": {
          "contract_type": {
            "$ref": "#/components/schemas/TokenContractType"
          },
          "contract_address": {
            "description": "The contract address",
            "type": "string",
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          }
        },
        "required": [
          "contract_type",
          "contract_address"
        ]
      },
      "ActivityAsset": {
        "description": "The contract and asset details for this activity",
        "oneOf": [
          {
            "$ref": "#/components/schemas/ActivityNFT"
          },
          {
            "$ref": "#/components/schemas/ActivityToken"
          }
        ],
        "discriminator": {
          "propertyName": "contract_type"
        }
      },
      "Address": {
        "x-go-type": "common.Address",
        "x-go-type-import": {
          "path": "github.com/ethereum/go-ethereum/common",
          "name": "common"
        },
        "description": "An Ethereum address",
        "type": "string",
        "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3",
        "pattern": "^0x[a-fA-F0-9]{40}$"
      },
      "Mint": {
        "type": "object",
        "description": "The mint activity details",
        "properties": {
          "to": {
            "description": "The account address the asset was minted to",
            "type": "string",
            "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3"
          },
          "amount": {
            "description": "The minted amount",
            "type": "string",
            "example": "1"
          },
          "asset": {
            "$ref": "#/components/schemas/ActivityAsset"
          }
        },
        "required": [
          "to",
          "amount",
          "asset"
        ]
      },
      "Deposit": {
        "type": "object",
        "description": "The deposit activity details",
        "properties": {
          "to": {
            "description": "The account address the asset was deposited to",
            "type": "string",
            "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3"
          },
          "amount": {
            "description": "The deposited amount",
            "type": "string",
            "example": "1"
          },
          "asset": {
            "$ref": "#/components/schemas/ActivityAsset"
          }
        },
        "required": [
          "to",
          "amount",
          "asset"
        ]
      },
      "Burn": {
        "description": "The burn activity details",
        "type": "object",
        "properties": {
          "from": {
            "description": "The account address the asset was transferred from",
            "type": "string",
            "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3"
          },
          "amount": {
            "description": "The amount of assets burnt",
            "type": "string",
            "example": "1"
          },
          "asset": {
            "$ref": "#/components/schemas/ActivityAsset"
          }
        },
        "required": [
          "from",
          "amount",
          "asset"
        ]
      },
      "Withdrawal": {
        "description": "The withdrawal activity details",
        "type": "object",
        "properties": {
          "from": {
            "description": "The account address the asset was withdrawn from",
            "type": "string",
            "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3"
          },
          "amount": {
            "description": "The amount of assets withdrawn",
            "type": "string",
            "example": "1"
          },
          "asset": {
            "$ref": "#/components/schemas/ActivityAsset"
          }
        },
        "required": [
          "from",
          "amount",
          "asset"
        ]
      },
      "Transfer": {
        "type": "object",
        "description": "The transfer activity details",
        "properties": {
          "from": {
            "description": "The account address the asset was transferred from",
            "type": "string",
            "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3"
          },
          "to": {
            "description": "The account address the asset was transferred to",
            "type": "string",
            "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3"
          },
          "amount": {
            "description": "The amount of assets transferred",
            "type": "string",
            "example": "1"
          },
          "asset": {
            "$ref": "#/components/schemas/ActivityAsset"
          }
        },
        "required": [
          "activity_type",
          "from",
          "to",
          "amount",
          "asset"
        ]
      },
      "ActivityNativeToken": {
        "type": "object",
        "properties": {
          "symbol": {
            "description": "The token symbol",
            "type": "string",
            "example": "ETH"
          }
        },
        "required": [
          "symbol"
        ]
      },
      "SalePayment": {
        "type": "object",
        "properties": {
          "token": {
            "description": "The type of payment token",
            "oneOf": [
              {
                "$ref": "#/components/schemas/ActivityToken"
              },
              {
                "$ref": "#/components/schemas/ActivityNativeToken"
              }
            ]
          },
          "price_excluding_fees": {
            "description": "The base price of the sale not including any fees",
            "type": "string",
            "example": "180"
          },
          "price_including_fees": {
            "description": "The total price of the sale. Includes the sum of all fees",
            "type": "string",
            "example": "200"
          },
          "fees": {
            "description": "The fees associated with this sale",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SaleFee"
            },
            "example": [
              {
                "address": "0xB0F3749458169B7Ad51B5503CC3649DE55c2D0D2",
                "amount": "20",
                "type": "ROYALTY"
              }
            ],
            "minItems": 0
          }
        },
        "required": [
          "token",
          "price_excluding_fees",
          "price_including_fees",
          "fees"
        ]
      },
      "SaleFee": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string",
            "description": "Fee payable to recipient upon settlement",
            "example": "200"
          },
          "type": {
            "type": "string",
            "description": "Fee type",
            "example": "ROYALTY",
            "enum": [
              "ROYALTY"
            ]
          },
          "recipient": {
            "type": "string",
            "description": "Wallet address of fee recipient",
            "example": "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92233"
          }
        }
      },
      "NFTSale": {
        "description": "The NFT Sale activity details",
        "type": "object",
        "properties": {
          "order_id": {
            "description": "The id of order",
            "type": "string",
            "example": "ARZ3NDEKTSV4RRFFQ69G5FAV"
          },
          "to": {
            "description": "The account address of buyer",
            "type": "string",
            "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3"
          },
          "from": {
            "description": "The account address of seller",
            "type": "string",
            "example": "0xbD6cFcf93474De653d7B42b346c7c25d1F9c559C"
          },
          "asset": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActivityNFT"
            }
          },
          "payment": {
            "$ref": "#/components/schemas/SalePayment"
          }
        },
        "required": [
          "order_id",
          "to",
          "from",
          "asset",
          "payment"
        ]
      },
      "ActivityDetails": {
        "description": "The activity details",
        "oneOf": [
          {
            "$ref": "#/components/schemas/Mint"
          },
          {
            "$ref": "#/components/schemas/Burn"
          },
          {
            "$ref": "#/components/schemas/Transfer"
          },
          {
            "$ref": "#/components/schemas/NFTSale"
          },
          {
            "$ref": "#/components/schemas/Deposit"
          },
          {
            "$ref": "#/components/schemas/Withdrawal"
          }
        ]
      },
      "BlockchainMetadata": {
        "description": "The metadata related to blockchain transaction",
        "nullable": true,
        "type": "object",
        "properties": {
          "transaction_hash": {
            "type": "string",
            "description": "The transaction hash of the activity",
            "example": "0x68d9eac5e3b3c3580404989a4030c948a78e1b07b2b5ea5688d8c38a6c61c93e"
          },
          "block_number": {
            "description": "EVM block number (uint64 as string)",
            "type": "string",
            "example": "1"
          },
          "transaction_index": {
            "description": "Transaction index in a block (uint32 as string)",
            "type": "string",
            "example": "1"
          },
          "log_index": {
            "description": "The log index of activity in a block (uint32 as string)",
            "type": "string",
            "nullable": true,
            "example": "1"
          }
        },
        "required": [
          "transaction_hash",
          "block_number",
          "transaction_index",
          "log_index"
        ]
      },
      "Activity": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ActivityID"
          },
          "chain": {
            "$ref": "#/components/schemas/Chain"
          },
          "type": {
            "$ref": "#/components/schemas/ActivityType"
          },
          "details": {
            "$ref": "#/components/schemas/ActivityDetails"
          },
          "updated_at": {
            "type": "string",
            "description": "The time activity was updated at",
            "format": "date-time",
            "example": "2022-08-16T17:43:26.991388Z"
          },
          "indexed_at": {
            "type": "string",
            "description": "The time activity was indexed",
            "format": "date-time",
            "example": "2022-08-16T17:43:26.991388Z"
          },
          "blockchain_metadata": {
            "$ref": "#/components/schemas/BlockchainMetadata"
          }
        },
        "required": [
          "id",
          "chain",
          "type",
          "details",
          "indexed_at",
          "updated_at",
          "blockchain_metadata"
        ]
      },
      "ListActivitiesResult": {
        "type": "object",
        "description": "List activities response",
        "properties": {
          "result": {
            "type": "array",
            "description": "List of activities",
            "items": {
              "$ref": "#/components/schemas/Activity"
            }
          },
          "page": {
            "$ref": "#/components/schemas/Page"
          }
        },
        "required": [
          "result",
          "page"
        ]
      },
      "GetActivityResult": {
        "type": "object",
        "description": "Single activity",
        "properties": {
          "result": {
            "$ref": "#/components/schemas/Activity"
          }
        },
        "required": [
          "result"
        ]
      },
      "Collection": {
        "type": "object",
        "properties": {
          "chain": {
            "$ref": "#/components/schemas/Chain"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "The name of the collection",
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          "symbol": {
            "type": "string",
            "nullable": true,
            "description": "The symbol of contract",
            "example": "BASP"
          },
          "contract_type": {
            "$ref": "#/components/schemas/CollectionContractType"
          },
          "contract_address": {
            "type": "string",
            "description": "The address of the contract",
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "The description of collection",
            "example": "Some description"
          },
          "image": {
            "type": "string",
            "description": "The url of the collection image",
            "example": "https://some-url",
            "nullable": true
          },
          "external_link": {
            "type": "string",
            "description": "The url of external link",
            "example": "https://some-url",
            "nullable": true
          },
          "contract_uri": {
            "type": "string",
            "description": "The uri for the metadata of the collection",
            "example": "https://some-url",
            "nullable": true
          },
          "base_uri": {
            "type": "string",
            "nullable": true,
            "description": "The metadata uri for nft",
            "example": "https://some-url"
          },
          "verification_status": {
            "$ref": "#/components/schemas/AssetVerificationStatus"
          },
          "indexed_at": {
            "type": "string",
            "format": "date-time",
            "example": "2022-08-16T17:43:26.991388Z",
            "description": "When the collection was first indexed"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2022-08-16T17:43:26.991388Z",
            "description": "When the collection was last updated"
          },
          "metadata_synced_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "example": "2022-08-16T17:43:26.991388Z",
            "description": "When the collection metadata was last synced"
          }
        },
        "required": [
          "chain",
          "name",
          "symbol",
          "contract_type",
          "contract_address",
          "description",
          "image",
          "external_link",
          "base_uri",
          "metadata_uri",
          "indexed_at",
          "updated_at",
          "metadata_synced_at",
          "verification_status"
        ]
      },
      "ListCollectionsResult": {
        "type": "object",
        "properties": {
          "result": {
            "description": "List of collections",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Collection"
            }
          },
          "page": {
            "$ref": "#/components/schemas/Page"
          }
        },
        "required": [
          "result",
          "page"
        ]
      },
      "GetCollectionResult": {
        "type": "object",
        "description": "Single Collection",
        "properties": {
          "result": {
            "$ref": "#/components/schemas/Collection"
          }
        },
        "required": [
          "result"
        ]
      },
      "GetMetadataResult": {
        "type": "object",
        "description": "Single metadata",
        "properties": {
          "result": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "required": [
          "result"
        ]
      },
      "ListMetadataResult": {
        "type": "object",
        "properties": {
          "result": {
            "description": "List of metadata",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Metadata"
            }
          },
          "page": {
            "$ref": "#/components/schemas/Page"
          }
        },
        "required": [
          "result",
          "page"
        ]
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/MetadataID"
          },
          "chain": {
            "$ref": "#/components/schemas/Chain"
          },
          "contract_address": {
            "type": "string",
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e",
            "description": "The contract address of the metadata"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2022-08-16T17:43:26.991388Z",
            "description": "When the metadata was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the metadata was last updated",
            "example": "2022-08-16T17:43:26.991388Z"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "example": "Sword",
            "description": "The name of the NFT"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "example": "2022-08-16T17:43:26.991388Z",
            "description": "The description of the NFT"
          },
          "image": {
            "type": "string",
            "nullable": true,
            "description": "The image url of the NFT",
            "example": "https://some-url"
          },
          "external_url": {
            "type": "string",
            "nullable": true,
            "description": "The external website link of NFT",
            "example": "https://some-url"
          },
          "animation_url": {
            "type": "string",
            "nullable": true,
            "description": "The animation url of the NFT",
            "example": "https://some-url"
          },
          "youtube_url": {
            "type": "string",
            "nullable": true,
            "description": "The youtube URL of NFT",
            "example": "https://some-url"
          },
          "attributes": {
            "type": "array",
            "description": "List of Metadata attributes",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/NFTMetadataAttribute"
            }
          }
        },
        "required": [
          "id",
          "chain",
          "contract_address",
          "created_at",
          "updated_at",
          "name",
          "description",
          "image",
          "external_link",
          "animation_url",
          "youtube_url",
          "attributes"
        ]
      },
      "RefreshMetadataByIDRequest": {
        "type": "object",
        "description": "Request body for refreshing metadata by id. Total size of this list should not exceed 228 KiB",
        "properties": {
          "metadata": {
            "type": "array",
            "maxItems": 10,
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/RefreshMetadataByID"
            }
          }
        },
        "required": [
          "metadata"
        ]
      },
      "NFT": {
        "type": "object",
        "properties": {
          "chain": {
            "$ref": "#/components/schemas/Chain"
          },
          "token_id": {
            "type": "string",
            "example": "1",
            "description": "An `uint256` token id as string"
          },
          "contract_address": {
            "type": "string",
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e",
            "description": "The contract address of the NFT"
          },
          "contract_type": {
            "$ref": "#/components/schemas/NFTContractType"
          },
          "indexed_at": {
            "type": "string",
            "format": "date-time",
            "example": "2022-08-16T17:43:26.991388Z",
            "description": "When the NFT was first indexed"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2022-08-16T17:43:26.991388Z",
            "description": "When the NFT owner was last updated"
          },
          "metadata_synced_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When NFT metadata was last synced",
            "example": "2022-08-16T17:43:26.991388Z"
          },
          "metadata_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "The id of the metadata of this NFT",
            "example": "ae83bc80-4dd5-11ee-be56-0242ac120002"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "example": "Sword",
            "description": "The name of the NFT"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "example": "2022-08-16T17:43:26.991388Z",
            "description": "The description of the NFT"
          },
          "image": {
            "type": "string",
            "nullable": true,
            "description": "The image url of the NFT",
            "example": "https://some-url"
          },
          "external_link": {
            "deprecated": true,
            "type": "string",
            "nullable": true,
            "description": "(deprecated - use external_url instead) The external website link of NFT",
            "example": "https://some-url"
          },
          "external_url": {
            "type": "string",
            "nullable": true,
            "description": "The external website link of NFT",
            "example": "https://some-url"
          },
          "animation_url": {
            "type": "string",
            "nullable": true,
            "description": "The animation url of the NFT",
            "example": "https://some-url"
          },
          "youtube_url": {
            "type": "string",
            "nullable": true,
            "description": "The youtube URL of NFT",
            "example": "https://some-url"
          },
          "attributes": {
            "type": "array",
            "description": "List of NFT Metadata attributes",
            "items": {
              "$ref": "#/components/schemas/NFTMetadataAttribute"
            }
          },
          "total_supply": {
            "type": "string",
            "nullable": true,
            "description": "The total supply of NFT",
            "example": "100"
          }
        },
        "required": [
          "chain",
          "token_id",
          "contract_address",
          "indexed_at",
          "updated_at",
          "metadata_synced_at",
          "name",
          "description",
          "image",
          "external_link",
          "external_url",
          "animation_url",
          "youtube_url",
          "attributes",
          "contract_type"
        ]
      },
      "NFTWithBalance": {
        "type": "object",
        "properties": {
          "chain": {
            "$ref": "#/components/schemas/Chain"
          },
          "token_id": {
            "type": "string",
            "example": "1",
            "description": "An `uint256` token id as string"
          },
          "contract_address": {
            "type": "string",
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e",
            "description": "The contract address of the NFT"
          },
          "contract_type": {
            "$ref": "#/components/schemas/NFTContractType"
          },
          "indexed_at": {
            "type": "string",
            "format": "date-time",
            "example": "2022-08-16T17:43:26.991388Z",
            "description": "When the NFT was first indexed"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2022-08-16T17:43:26.991388Z",
            "description": "When the NFT owner was last updated"
          },
          "metadata_synced_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When NFT metadata was last synced",
            "example": "2022-08-16T17:43:26.991388Z"
          },
          "metadata_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "The id of the metadata of this NFT",
            "example": "ae83bc80-4dd5-11ee-be56-0242ac120002"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "The name of the NFT",
            "example": "Sword"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "The description of the NFT",
            "example": "This is a super awesome sword"
          },
          "image": {
            "type": "string",
            "nullable": true,
            "description": "The image url of the NFT",
            "example": "https://some-url"
          },
          "external_link": {
            "type": "string",
            "nullable": true,
            "description": "The external website link of NFT",
            "example": "https://some-url"
          },
          "animation_url": {
            "type": "string",
            "nullable": true,
            "description": "The animation url of the NFT",
            "example": "https://some-url"
          },
          "youtube_url": {
            "type": "string",
            "nullable": true,
            "description": "The youtube URL of NFT",
            "example": "https://some-url"
          },
          "attributes": {
            "type": "array",
[...]
