{
  "openapi": "3.0.2",
  "info": {
    "title": "Immutable zkEVM API",
    "version": "1.0.0",
    "description": "Immutable Multi Rollup API",
    "contact": {
      "name": "Immutable API Support",
      "email": "support@immutable.com",
      "url": "https://support.immutable.com"
    }
  },
  "servers": [
    {
      "url": "https://api.sandbox.immutable.com"
    }
  ],
  "tags": [
    {
      "name": "activities",
      "description": "Activities Endpoints",
      "x-displayName": "activities"
    },
    {
      "name": "chains",
      "description": "Chains Endpoints",
      "x-displayName": "chains"
    },
    {
      "name": "collections",
      "description": "Collections Endpoints",
      "x-displayName": "collections"
    },
    {
      "name": "nfts",
      "description": "NFTs Endpoints",
      "x-displayName": "nfts"
    },
    {
      "name": "nft owners",
      "description": "NFT Owner Endpoints",
      "x-displayName": "nft owners"
    },
    {
      "name": "metadata",
      "description": "NFT Metadata Endpoints",
      "x-displayName": "metadata"
    },
    {
      "name": "tokens",
      "description": "ERC20 Token Endpoints",
      "x-displayName": "tokens"
    },
    {
      "name": "demopage",
      "description": "Temporary HTML endpoint for demo purposes",
      "x-displayName": "demopage"
    },
    {
      "name": "listings",
      "description": "Listings Endpoints",
      "x-displayName": "listings"
    },
    {
      "name": "orders",
      "x-displayName": "orders"
    },
    {
      "name": "passport",
      "description": "Passport operations",
      "x-displayName": "passport"
    }
  ],
  "paths": {
    "/v1/chains/{chain_name}/activity-history": {
      "get": {
        "tags": [
          "activities"
        ],
        "operationId": "ListActivityHistory",
        "summary": "List history of activities",
        "description": "List activities sorted by updated_at timestamp ascending, useful for time based data replication",
        "parameters": [
          {
            "name": "chain_name",
            "description": "The name of chain",
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "in": "path",
            "required": true,
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "from_updated_at",
            "in": "query",
            "description": "From indexed at including given date",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2022-08-16T17:43:26.991388Z",
              "format": "date-time"
            }
          },
          {
            "name": "to_updated_at",
            "in": "query",
            "required": false,
            "description": "To indexed at including given date",
            "schema": {
              "type": "string",
              "example": "2022-08-16T17:43:26.991388Z",
              "format": "date-time"
            }
          },
          {
            "name": "contract_address",
            "in": "query",
            "description": "The contract address of the collection",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListActivitiesResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/activities": {
      "get": {
        "tags": [
          "activities"
        ],
        "operationId": "ListActivities",
        "summary": "List all activities",
        "description": "List all activities",
        "parameters": [
          {
            "name": "chain_name",
            "description": "The name of chain",
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "in": "path",
            "required": true,
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "contract_address",
            "in": "query",
            "description": "The contract address of NFT or ERC20 Token",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          {
            "name": "token_id",
            "in": "query",
            "description": "An `uint256` token id as string",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "account_address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3",
            "description": "The account address activity contains"
          },
          {
            "name": "activity_type",
            "in": "query",
            "description": "The activity type",
            "required": false,
            "example": "burn",
            "schema": {
              "$ref": "#/components/schemas/ActivityType"
            }
          },
          {
            "name": "transaction_hash",
            "in": "query",
            "description": "The transaction hash of activity",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "0x68d9eac5e3b3c3580404989a4030c948a78e1b07b2b5ea5688d8c38a6c61c93e"
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListActivitiesResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/activities/{activity_id}": {
      "get": {
        "tags": [
          "activities"
        ],
        "operationId": "GetActivity",
        "summary": "Get a single activity by ID",
        "description": "Get a single activity by ID",
        "parameters": [
          {
            "name": "chain_name",
            "description": "The name of chain",
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "in": "path",
            "required": true,
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "activity_id",
            "description": "The id of activity",
            "schema": {
              "$ref": "#/components/schemas/ActivityID"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetActivityResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/collections": {
      "get": {
        "description": "List all collections",
        "tags": [
          "collections"
        ],
        "operationId": "ListCollections",
        "summary": "List all collections",
        "parameters": [
          {
            "name": "chain_name",
            "in": "path",
            "description": "The name of chain",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "contract_address",
            "in": "query",
            "required": false,
            "description": "List of contract addresses to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3"
              }
            }
          },
          {
            "name": "from_updated_at",
            "in": "query",
            "description": "Datetime to use as the oldest updated timestamp",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2022-08-16T17:43:26.991388Z",
              "format": "date-time"
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCollectionsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/collections/{contract_address}": {
      "get": {
        "description": "Get collection by contract address",
        "tags": [
          "collections"
        ],
        "operationId": "GetCollection",
        "summary": "Get collection by contract address",
        "parameters": [
          {
            "name": "contract_address",
            "in": "path",
            "description": "The address contract",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCollectionResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/collections/{contract_address}/refresh-metadata": {
      "post": {
        "description": "Refresh collection metadata",
        "summary": "Refresh collection metadata",
        "tags": [
          "collections"
        ],
        "operationId": "RefreshCollectionMetadata",
        "security": [
          {
            "ImmutableApiKey": [
              "refresh:metadata"
            ]
          },
          {
            "BearerAuth": [
              "refresh:metadata"
            ]
          }
        ],
        "parameters": [
          {
            "name": "contract_address",
            "in": "path",
            "description": "The address contract",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          }
        ],
        "requestBody": {
          "description": "The request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshCollectionMetadataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshCollectionMetadataResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorisedRequest"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/accounts/{account_address}/collections": {
      "get": {
        "description": "List collections by NFT owner account address",
        "tags": [
          "collections"
        ],
        "operationId": "ListCollectionsByNFTOwner",
        "summary": "List collections by NFT owner",
        "parameters": [
          {
            "name": "account_address",
            "in": "path",
            "description": "Account address",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3"
          },
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCollectionsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/collections/{contract_address}/nfts/{token_id}": {
      "get": {
        "description": "Get NFT by token ID",
        "tags": [
          "nfts"
        ],
        "summary": "Get NFT by token ID",
        "operationId": "GetNFT",
        "parameters": [
          {
            "name": "contract_address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The address of NFT contract",
            "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3"
          },
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "An `uint256` token id as string",
            "example": "1"
          },
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNFTResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/collections/{contract_address}/metadata/{metadata_id}": {
      "get": {
        "description": "Get metadata by ID",
        "tags": [
          "metadata"
        ],
        "summary": "Get metadata by ID",
        "operationId": "GetMetadata",
        "parameters": [
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "contract_address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The address of metadata contract",
            "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3"
          },
          {
            "name": "metadata_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MetadataID"
            },
            "description": "The id of the metadata"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMetadataResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/collections/{contract_address}/metadata": {
      "get": {
        "description": "Get a list of metadata from the given contract",
        "tags": [
          "metadata"
        ],
        "summary": "Get a list of metadata from the given contract",
        "operationId": "ListMetadata",
        "parameters": [
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "contract_address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The address of metadata contract",
            "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3"
          },
          {
            "name": "from_updated_at",
            "in": "query",
            "description": "Datetime to use as the oldest updated timestamp",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2022-08-16T17:43:26.991388Z",
              "format": "date-time"
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMetadataResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/metadata": {
      "get": {
        "description": "Get a list of metadata from the given chain",
        "tags": [
          "metadata"
        ],
        "summary": "Get a list of metadata from the given chain",
        "operationId": "ListMetadataForChain",
        "parameters": [
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "from_updated_at",
            "in": "query",
            "description": "Datetime to use as the oldest updated timestamp",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2022-08-16T17:43:26.991388Z",
              "format": "date-time"
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMetadataResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/collections/{contract_address}/metadata/refresh-metadata": {
      "post": {
        "x-go-name": "RefreshMetadataByID",
        "operationId": "RefreshMetadataByID",
        "description": "Refresh stacked metadata",
        "summary": "Refresh stacked metadata",
        "tags": [
          "metadata"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ChainName"
          },
          {
            "$ref": "#/components/parameters/ContractAddress"
          }
        ],
        "security": [
          {
            "ImmutableApiKey": [
              "refresh:metadata"
            ]
          }
        ],
        "requestBody": {
          "description": "NFT Metadata Refresh Request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshMetadataByIDRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "imx-refreshes-limit": {
                "$ref": "#/components/headers/MetadataRefreshLimit"
              },
              "imx-refresh-limit-reset": {
                "$ref": "#/components/headers/MetadataRefreshLimitReset"
              },
              "imx-remaining-refreshes": {
                "$ref": "#/components/headers/MetadataRefreshLimitRemaining"
              },
              "retry-after": {
                "$ref": "#/components/headers/MetadataRefreshRetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataRefreshRateLimitResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorisedRequest"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyMetadataRefreshes"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/collections/{contract_address}/nfts": {
      "get": {
        "description": "List NFTs by contract address",
        "tags": [
          "nfts"
        ],
        "summary": "List NFTs by contract address",
        "operationId": "ListNFTs",
        "parameters": [
          {
            "name": "contract_address",
            "in": "path",
            "required": true,
            "description": "Contract address",
            "schema": {
              "type": "string"
            },
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "token_id",
            "in": "query",
            "required": false,
            "description": "List of token IDs to filter by",
            "schema": {
              "type": "array",
              "maxItems": 30,
              "items": {
                "type": "string",
                "example": "1"
              }
            }
          },
          {
            "name": "from_updated_at",
            "in": "query",
            "description": "Datetime to use as the oldest updated timestamp",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2022-08-16T17:43:26.991388Z",
              "format": "date-time"
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListNFTsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/accounts/{account_address}/nfts": {
      "get": {
        "description": "List NFTs by account address",
        "tags": [
          "nfts"
        ],
        "operationId": "ListNFTsByAccountAddress",
        "summary": "List NFTs by account address",
        "parameters": [
          {
            "name": "account_address",
            "in": "path",
            "description": "Account address",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3"
          },
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "contract_address",
            "in": "query",
            "description": "The address of contract",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListNFTsByOwnerResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/collections/{contract_address}/nfts/{token_id}/owners": {
      "get": {
        "description": "List NFT owners by token ID",
        "tags": [
          "nft owners"
        ],
        "operationId": "ListNFTOwners",
        "summary": "List NFT owners by token ID",
        "parameters": [
          {
            "name": "contract_address",
            "in": "path",
            "description": "The address of contract",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          {
            "name": "token_id",
            "in": "path",
            "description": "An `uint256` token id as string",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListNFTOwnersResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/nfts": {
      "get": {
        "description": "List all NFTs on a chain",
        "tags": [
          "nfts"
        ],
        "operationId": "ListAllNFTs",
        "summary": "List all NFTs",
        "parameters": [
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "from_updated_at",
            "in": "query",
            "description": "Datetime to use as the oldest updated timestamp",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2022-08-16T17:43:26.991388Z",
              "format": "date-time"
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListNFTsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/nft-owners": {
      "get": {
        "description": "List all NFT owners on a chain",
        "tags": [
          "nft owners"
        ],
        "operationId": "ListAllNFTOwners",
        "summary": "List all NFT owners",
        "parameters": [
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "from_updated_at",
            "in": "query",
            "description": "Datetime to use as the oldest updated timestamp",
            "schema": {
              "type": "string",
              "example": "2022-08-16T17:43:26.991388Z",
              "format": "date-time"
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListNFTOwnersResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/collections/{contract_address}/owners": {
      "get": {
        "description": "List owners by contract address",
        "tags": [
          "nft owners"
        ],
        "operationId": "ListOwnersByContractAddress",
        "summary": "List owners by contract address",
        "parameters": [
          {
            "name": "contract_address",
            "in": "path",
            "description": "The address of contract",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            },
            "examples": {
              "testnet": {
                "value": "imtbl-zkevm-testnet",
                "summary": "Immutable zkEVM Public Testnet"
              }
            }
          },
          {
            "name": "from_updated_at",
            "in": "query",
            "description": "Datetime to use as the oldest updated timestamp",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2022-08-16T17:43:26.991388Z",
              "format": "date-time"
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCollectionOwnersResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/tokens": {
      "get": {
        "description": "List ERC20 tokens",
        "tags": [
          "tokens"
        ],
        "operationId": "ListERC20Tokens",
        "summary": "List ERC20 tokens",
        "parameters": [
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            }
          },
          {
            "name": "from_updated_at",
            "in": "query",
            "description": "Datetime to use as the oldest updated timestamp",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2022-08-16T17:43:26.991388Z",
              "format": "date-time"
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTokensResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/tokens/{contract_address}": {
      "get": {
        "description": "Get single ERC20 token",
        "tags": [
          "tokens"
        ],
        "operationId": "GetERC20Token",
        "summary": "Get single ERC20 token",
        "parameters": [
          {
            "name": "contract_address",
            "in": "path",
            "description": "The address of contract",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTokenResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains": {
      "get": {
        "description": "List supported chains",
        "summary": "List supported chains",
        "tags": [
          "chains"
        ],
        "operationId": "ListChains",
        "parameters": [
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          },
          {
            "name": "page_size",
            "description": "Maximum number of items to return",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListChainsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/collections/{contract_address}/nfts/refresh-metadata": {
      "post": {
        "description": "Refresh NFT metadata",
        "summary": "Refresh NFT metadata",
        "tags": [
          "metadata"
        ],
        "operationId": "RefreshNFTMetadataByTokenID",
        "security": [
          {
            "ImmutableApiKey": [
              "refresh:metadata"
            ]
          }
        ],
        "parameters": [
          {
            "name": "contract_address",
            "in": "path",
            "description": "The address of contract",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          {
            "name": "chain_name",
            "description": "The name of chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            }
          }
        ],
        "requestBody": {
          "description": "the request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshNFTMetadataByTokenIDRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "imx-refreshes-limit": {
                "$ref": "#/components/headers/MetadataRefreshLimit"
              },
              "imx-refresh-limit-reset": {
                "$ref": "#/components/headers/MetadataRefreshLimitReset"
              },
              "imx-remaining-refreshes": {
                "$ref": "#/components/headers/MetadataRefreshLimitRemaining"
              },
              "retry-after": {
                "$ref": "#/components/headers/MetadataRefreshRetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataRefreshRateLimitResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorisedRequest"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyMetadataRefreshes"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/orders/cancel": {
      "post": {
        "tags": [
          "orders"
        ],
        "summary": "Cancel one or more orders",
        "description": "Cancel one or more orders",
        "operationId": "CancelOrders",
        "parameters": [
          {
            "name": "chain_name",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOrdersRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Orders cancellation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelOrdersResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorisedRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplementedError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/orders/listings": {
      "get": {
        "tags": [
          "orders"
        ],
        "summary": "List all listings",
        "description": "List all listings",
        "operationId": "ListListings",
        "parameters": [
          {
            "name": "chain_name",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Order status to filter by",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/OrderStatusName"
            }
          },
          {
            "name": "sell_item_contract_address",
            "in": "query",
            "description": "Sell item contract address to filter by",
            "required": false,
            "schema": {
              "type": "string",
              "example": "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266",
              "pattern": "^0x[a-fA-F0-9]{40}$"
            }
          },
          {
            "name": "buy_item_contract_address",
            "in": "query",
            "description": "Buy item contract address to filter by",
            "required": false,
            "schema": {
              "type": "string",
              "example": "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266",
              "pattern": "^0x[a-fA-F0-9]{40}$"
            }
          },
          {
            "name": "account_address",
            "in": "query",
            "description": "The account address of the user who created the listing",
            "required": false,
            "schema": {
              "type": "string",
              "example": "0xc49Fd6e51aad88F6F4ce6aB8827279cffFb92266",
              "pattern": "^0x[a-fA-F0-9]{40}$"
            }
          },
          {
            "name": "sell_item_metadata_id",
            "in": "query",
            "description": "The metadata_id of the sell item",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "020792C9-4AD7-8EC4-4038-9E05C598535B"
            }
          },
          {
            "name": "sell_item_token_id",
            "in": "query",
            "description": "Sell item token identifier to filter by",
            "required": false,
            "schema": {
              "type": "string",
              "example": "1",
              "pattern": "\\d+"
            }
          },
          {
            "name": "from_updated_at",
            "in": "query",
            "description": "From updated at including given date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-03-09T05:00:50.52Z"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Maximum number of orders to return per page",
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Order field to sort by",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "updated_at",
                "buy_item_amount"
              ],
              "description": "Order field to sort by",
              "example": "created_at"
            },
            "example": "created_at"
          },
          {
            "name": "sort_direction",
            "in": "query",
            "description": "Ascending or descending direction for sort",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "description": "Ascending or descending direction for sort",
              "example": "asc"
            },
            "example": "asc"
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListListingsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "orders"
        ],
        "summary": "Create a listing",
        "description": "Create a listing",
        "operationId": "CreateListing",
        "parameters": [
          {
            "name": "chain_name",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateListingRequestBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/orders/listings/{listing_id}": {
      "get": {
        "tags": [
          "orders"
        ],
        "summary": "Get a single listing by ID",
        "description": "Get a single listing by ID",
        "operationId": "GetListing",
        "parameters": [
          {
            "name": "chain_name",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            }
          },
          {
            "name": "listing_id",
            "in": "path",
            "description": "Global Order identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Global Order identifier",
              "example": "018792C9-4AD7-8EC4-4038-9E05C598534A"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/orders/fulfillment-data": {
      "post": {
        "tags": [
          "orders"
        ],
        "summary": "Retrieve fulfillment data for orders",
        "description": "Retrieve signed fulfillment data based on the list of order IDs and corresponding fees.",
        "operationId": "fulfillment_data",
        "parameters": [
          {
            "name": "chain_name",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FulfillmentDataRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "fulfillable_orders": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/FulfillableOrder"
                          }
                        },
                        "unfulfillable_orders": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/UnfulfillableOrder"
                          }
                        }
                      },
                      "required": [
                        "fulfillable_orders",
                        "unfulfillable_orders"
                      ]
                    }
                  },
                  "required": [
                    "result"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/trades": {
      "get": {
        "tags": [
          "orders"
        ],
        "summary": "List all trades",
        "description": "List all trades",
        "operationId": "ListTrades",
        "parameters": [
          {
            "name": "chain_name",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            }
          },
          {
            "name": "account_address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Account address to filter trades by (includes buy and sell trades)",
              "example": "0x784578949A4A50DeA641Fb15dd2B11C72E76919a",
              "pattern": "^0x[a-fA-F0-9]{40}$"
            }
          },
          {
            "name": "from_indexed_at",
            "in": "query",
            "description": "From indexed at including given date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-03-09T05:00:50.52Z"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Maximum number of trades to return per page",
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Trade field to sort by",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "indexed_at"
              ],
              "description": "Trade field to sort by",
              "example": "indexed_at"
            },
            "example": "indexed_at"
          },
          {
            "name": "sort_direction",
            "in": "query",
            "description": "Ascending or descending direction for sort",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "description": "Ascending or descending direction for sort",
              "example": "asc"
            },
            "example": "asc"
          },
          {
            "name": "page_cursor",
            "in": "query",
            "description": "Page cursor to retrieve previous or next page. Use the value returned in the response.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageCursor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTradeResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/chains/{chain_name}/trades/{trade_id}": {
      "get": {
        "tags": [
          "orders"
        ],
        "summary": "Get a single trade by ID",
        "description": "Get a single trade by ID",
        "operationId": "GetTrade",
        "parameters": [
          {
            "name": "chain_name",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            }
          },
          {
            "name": "trade_id",
            "in": "path",
            "description": "Global Trade identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Global Trade identifier",
              "example": "018792C9-4AD7-8EC4-4038-9E05C598534A"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradeResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/passport-mr/v1/counterfactual-address": {
      "post": {
        "summary": "Deprecated Create a counterfactual address",
        "description": "Create a counterfactual address for a user based on their Ethereum address",
        "tags": [
          "passport"
        ],
        "operationId": "createCounterfactualAddressDeprecated",
        "security": [
          {
            "BearerAuth": [
              "transact"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCounterfactualAddressRequestDeprecated"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Counterfactual address created response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCounterfactualAddressResDeprecated"
                }
              }
            }
          },
          "400": {
            "description": "BadRequestError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError400"
                }
              }
            }
          },
          "401": {
            "description": "UnauthorizedError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError401"
                }
              }
            }
          },
          "403": {
            "description": "ForbiddenError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError403"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequestsError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError429"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError500"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicAPIError"
                }
              }
            }
          }
        }
      }
    },
    "/passport-mr/v1/users/{userId}/linked-addresses": {
      "get": {
        "summary": "Deprecated Get Ethereum linked addresses for a user",
        "description": "Get all the Ethereum linked addresses for a user based on its userId",
        "tags": [
          "passport"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user's userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "getLinkedAddressesDeprecated",
        "security": [
          {
            "BearerAuth": [
              "openid"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "User's list of linked addresses response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLinkedAddressesResDeprecated"
                }
              }
            }
          },
          "400": {
            "description": "BadRequestError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError400"
                }
              }
            }
          },
          "401": {
            "description": "UnauthorizedError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError401"
                }
              }
            }
          },
          "403": {
            "description": "ForbiddenError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError403"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequestsError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError429"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError500"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicAPIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/chains/{chain_name}/passport/counterfactual-address": {
      "post": {
        "summary": "Create a counterfactual address",
        "description": "Create a counterfactual address for a user based on their Ethereum address",
        "tags": [
          "passport"
        ],
        "operationId": "createCounterfactualAddress",
        "security": [
          {
            "BearerAuth": [
              "transact"
            ]
          }
        ],
        "parameters": [
          {
            "name": "chain_name",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCounterfactualAddressRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Counterfactual address created response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCounterfactualAddressRes"
                }
              }
            }
          },
          "400": {
            "description": "BadRequestError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError400"
                }
              }
            }
          },
          "401": {
            "description": "UnauthorizedError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError401"
                }
              }
            }
          },
          "403": {
            "description": "ForbiddenError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError403"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequestsError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError429"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError500"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicAPIError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/chains/{chain_name}/passport/counterfactual-address": {
      "post": {
        "summary": "Create a counterfactual address v2",
        "description": "Create a counterfactual address for a user based on their Ethereum address",
        "tags": [
          "passport"
        ],
        "operationId": "createCounterfactualAddressV2",
        "security": [
          {
            "BearerAuth": [
              "transact"
            ]
          }
        ],
        "parameters": [
          {
            "name": "chain_name",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCounterfactualAddressRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Counterfactual address created response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCounterfactualAddressRes"
                }
              }
            }
          },
          "400": {
            "description": "BadRequestError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError400"
                }
              }
            }
          },
          "401": {
            "description": "UnauthorizedError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError401"
                }
              }
            }
          },
          "403": {
            "description": "ForbiddenError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError403"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequestsError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError429"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError500"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicAPIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/chains/{chain_name}/passport/users/{user_id}/linked-addresses": {
      "get": {
        "summary": "Get Ethereum linked addresses for a user",
        "description": "Get all the Ethereum linked addresses for a user based on its userId",
        "tags": [
          "passport"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "The user's userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chain_name",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            }
          }
        ],
        "operationId": "getLinkedAddresses",
        "security": [
          {
            "BearerAuth": [
              "openid"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "User's list of linked addresses response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLinkedAddressesRes"
                }
              }
            }
          },
          "400": {
            "description": "BadRequestError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError400"
                }
              }
            }
          },
          "401": {
            "description": "UnauthorizedError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError401"
                }
              }
            }
          },
          "403": {
            "description": "ForbiddenError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError403"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequestsError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError429"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError500"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicAPIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/chains/{chain_name}/passport/transaction-metadata": {
      "get": {
        "summary": "Get a contract abi",
        "description": "Get a contract abi by contract address and method id",
        "tags": [
          "passport"
        ],
        "operationId": "getContractAbi",
        "security": [
          {
            "BearerAuth": [
              "transact"
            ]
          }
        ],
        "parameters": [
          {
            "name": "chain_name",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainName"
            }
          },
          {
            "in": "query",
            "name": "contract_address",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "contract address"
          },
          {
            "in": "query",
            "name": "method_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "method id"
          }
        ],
        "responses": {
          "200": {
            "description": "Counterfactual address created response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetContractAbiRes"
                }
              }
            }
          },
          "400": {
            "description": "BadRequestError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError400"
                }
              }
            }
          },
          "401": {
            "description": "UnauthorizedError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError401"
                }
              }
            }
          },
          "403": {
            "description": "ForbiddenError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError403"
                }
              }
            }
          },
          "404": {
            "description": "NotFoundError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError404"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequestsError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError429"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError500"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicAPIError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "ImmutableApiKey": {
        "x-go-name": "ImmutableApiKey",
        "type": "apiKey",
        "in": "header",
        "name": "x-immutable-api-key"
      }
    },
    "parameters": {
      "ChainName": {
        "name": "chain_name",
        "description": "The name of chain",
        "in": "path",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/ChainName"
        },
        "examples": {
          "testnet": {
            "value": "imtbl-zkevm-testnet",
            "summary": "Immutable zkEVM Public Testnet"
          }
        }
      },
      "ContractAddress": {
        "name": "contract_address",
        "in": "path",
        "required": true,
        "description": "Contract address",
        "schema": {
          "$ref": "#/components/schemas/Address"
        }
      }
    },
    "responses": {
      "NotFound": {
        "description": "The specified resource was not found (404)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIError404"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request (400)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIError400"
            }
          }
        }
      },
      "UnauthorisedRequest": {
        "description": "Unauthorised Request (401)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIError401"
            }
          }
        }
      },
      "ForbiddenRequest": {
        "description": "Forbidden Request (403)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIError403"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests (429)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIError429"
            }
          }
        }
      },
      "TooManyMetadataRefreshes": {
        "description": "Too Many Metadata refreshes (429)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIError429"
            }
          }
        },
        "headers": {
          "imx-refreshes-limit": {
            "$ref": "#/components/headers/MetadataRefreshLimit"
          },
          "imx-refresh-limit-reset": {
            "$ref": "#/components/headers/MetadataRefreshLimitReset"
          },
          "imx-remaining-refreshes": {
            "$ref": "#/components/headers/MetadataRefreshLimitRemaining"
          },
          "retry-after": {
            "$ref": "#/components/headers/MetadataRefreshRetryAfter"
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error (500)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIError500"
            }
          }
        }
      },
      "NotImplementedError": {
        "description": "Not Implemented Error (501)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIError501"
            }
          }
        }
      }
    },
    "headers": {
      "MetadataRefreshLimit": {
        "description": "The refresh request limit available to the project for each one-hour window.",
        "schema": {
          "type": "string"
        }
      },
      "MetadataRefreshLimitReset": {
        "description": "The expiry date of the current one-hour window.",
        "schema": {
          "type": "string"
        }
      },
      "MetadataRefreshLimitRemaining": {
        "description": "The number of refresh requests remaining in the current window.",
        "schema": {
          "type": "string"
        }
      },
      "MetadataRefreshRetryAfter": {
        "description": "The number of seconds until the next refresh request can be made.",
        "schema": {
          "type": "string"
        }
      },
      "MintRequestsLimit": {
        "description": "The mint requests limit available to the project for each time window.",
        "schema": {
          "type": "string"
        }
      },
      "MintRequestsLimitReset": {
        "description": "The expiry date of the current time window.",
        "schema": {
          "type": "string"
        }
      },
      "MintRequestsLimitRemaining": {
        "description": "The number of mint requests remaining in the current window.",
        "schema": {
          "type": "string"
        }
      },
      "MintRequestsRetryAfter": {
        "description": "The number of seconds until the next refresh request can be made.",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "PageSize": {
        "type": "integer",
        "format": "int32",
        "description": "Maximum number of items to return",
        "minimum": 1,
        "default": 100,
        "maximum": 200,
        "example": 10
      },
      "PageCursor": {
        "type": "string",
        "description": "Encoded page cursor to retrieve previous or next page. Use the value returned in the response.",
        "example": "ewogICJ0eXBlIjogInByZXYiLAogICJpdGVtIjogewogICAgImlkIjogNjI3NTEzMCwKICAgICJjcmVhdGVkX2F0IjogIjIwMjItMDktMTNUMTc6MDQ6MTIuMDI0MTI2WiIKICB9Cn0="
      },
      "Page": {
        "type": "object",
        "description": "Pagination properties",
        "properties": {
          "previous_cursor": {
            "type": "string",
            "nullable": true,
            "description": "First item as an encoded string",
            "example": "ewogICJ0eXBlIjogInByZXYiLAogICJpdGVtIjogewogICAgImlkIjogNjI3NTEzMCwKICAgICJjcmVhdGVkX2F0IjogIjIwMjItMDktMTNUMTc6MDQ6MTIuMDI0MTI2WiIKICB9Cn0="
          },
          "next_cursor": {
            "type": "string",
            "nullable": true,
            "description": "Last item as an encoded string",
            "example": "ewogICJ0eXBlIjogInByZXYiLAogICJpdGVtIjogewogICAgImlkIjogNjI3NTEzMCwKICAgICJjcmVhdGVkX2F0IjogIjIwMjItMDktMTNUMTc6MDQ6MTIuMDI0MTI2WiIKICB9Cn0="
          }
        },
        "required": [
          "previous_cursor",
          "next_cursor"
        ]
      },
      "ActivityType": {
        "description": "The activity type",
        "example": "mint",
        "type": "string",
        "enum": [
          "mint",
          "burn",
          "transfer",
          "sale",
          "deposit",
          "withdrawal"
        ]
      },
      "ActivityNFT": {
        "type": "object",
        "properties": {
          "contract_type": {
            "$ref": "#/components/schemas/NFTContractType"
          },
          "contract_address": {
            "description": "The token contract address",
            "type": "string",
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          },
          "token_id": {
            "description": "An `uint256` token id as string",
            "type": "string",
            "example": "1"
          }
        },
        "required": [
          "contract_type",
          "contract_address",
          "token_id"
        ]
      },
      "ActivityToken": {
        "type": "object",
        "properties": {
          "contract_type": {
            "$ref": "#/components/schemas/TokenContractType"
          },
          "contract_address": {
            "description": "The contract address",
            "type": "string",
            "example": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e"
          }
        },
        "required": [
          "contract_type",
          "contract_address"
        ]
      },
      "ActivityAsset": {
        "description": "The contract and asset details for this activity",
        "oneOf": [
          {
            "$ref": "#/components/schemas/ActivityNFT"
          },
          {
            "$ref": "#/components/schemas/ActivityToken"
          }
        ],
        "discriminator": {
          "propertyName": "contract_type"
        }
      },
      "Address": {
        "x-go-type": "common.Address",
        "x-go-type-import": {
          "path": "github.com/ethereum/go-ethereum/common",
          "name": "common"
        },
        "description": "An Ethereum address",
        "type": "string",
        "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3",
        "pattern": "^0x[a-fA-F0-9]{40}$"
      },
      "Mint": {
        "type": "object",
        "description": "The mint activity details",
        "properties": {
          "to": {
            "description": "The account address the asset was minted to",
            "type": "string",
            "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3"
          },
          "amount": {
            "description": "The minted amount",
            "type": "string",
            "example": "1"
          },
          "asset": {
            "$ref": "#/components/schemas/ActivityAsset"
          }
        },
        "required": [
          "to",
          "amount",
          "asset"
        ]
      },
      "Deposit": {
        "type": "object",
        "description": "The deposit activity details",
        "properties": {
          "to": {
            "description": "The account address the asset was deposited to",
            "type": "string",
            "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3"
          },
          "amount": {
            "description": "The deposited amount",
            "type": "string",
            "example": "1"
          },
          "asset": {
            "$ref": "#/components/schemas/ActivityAsset"
          }
        },
        "required": [
          "to",
          "amount",
          "asset"
        ]
      },
      "Burn": {
        "description": "The burn activity details",
        "type": "object",
        "properties": {
          "from": {
            "description": "The account address the asset was transferred from",
            "type": "string",
            "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3"
          },
          "amount": {
            "description": "The amount of assets burnt",
            "type": "string",
            "example": "1"
          },
          "asset": {
            "$ref": "#/components/schemas/ActivityAsset"
          }
        },
        "required": [
          "from",
          "amount",
          "asset"
        ]
      },
      "Withdrawal": {
        "description": "The withdrawal activity details",
        "type": "object",
        "properties": {
          "from": {
            "description": "The account address the asset was withdrawn from",
            "type": "string",
            "example": "0xe9b00a87700f660e46b6f5deaa1232836bcc07d3"
          },
          "amount": {
            "description": "The amount of assets withdrawn",
            "type": "string",
            "example": "1"
          },
          "asset": {
            "$ref": "#/components/schemas/ActivityAsset"
          }
        },
        "required": [
          "from",
          "amount",
          "asset"
        ]
      },
      "Transfer": {
        "type": "object",
        "description": "The transfer activity details",
        "properties": {
          "from": {
            "description": "The account address the asset was transferred from",
[...]
