name: Build, Lint, Typecheck, Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build, Lint, Typecheck, Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
          registry-url: https://registry.npmjs.org/
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --immutable

      - name: Check Single Package Version Policy
        run: yarn syncpack:check

      - name: Lint
        run: yarn lint

      - name: Build
        run: export NODE_OPTIONS=--max-old-space-size=6144 && yarn build

      - name: Typecheck
        run: yarn typecheck

      - name: Test
        run: yarn test
