name: Build, Lint, Typecheck, Test

on:
  pull_request:
    branches:
      - main
  merge_group:
    branches:
      - main

env:
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.TS_IMMUTABLE_SDK_NX_TOKEN }}

jobs:
  typecheck:
    name: Typecheck
    runs-on: ubuntu-latest-4-cores
    steps:
      - name: setup
        uses: ./.github/actions/pr-setup

      - name: Typecheck
        run: yarn typecheck

  test:
    name: Test
    runs-on: ubuntu-latest-8-cores
    env:
      NODE_OPTIONS: --max-old-space-size=14366
    steps:
      - name: setup
        uses: ./.github/actions/pr-setup

      - name: Test
        run: yarn test --configuration=ci

      - name: Upload Checkout SDK test coverage artifacts
        uses: actions/upload-artifact@v4
        with:
          name: coverages
          path: ./packages/**/coverage/*

  lint:
    name: Lint
    runs-on: ubuntu-latest-4-cores
    steps:
      - name: setup
        uses: ./.github/actions/pr-setup

      - name: Lint
        run: yarn lint
