name: Changelog Checker

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  change:
    name: Changelog Checker
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
      with:
        fetch-depth: 2

    - name: Check Changelog Updated 
      id: changelog
      run: |
        echo "CHANGELOG_UPDATED=$(git diff --name-only -r origin/main origin/${GITHUB_HEAD_REF} CHANGELOG.md)" >> $GITHUB_OUTPUT
        
    - name: Run step only when any of the above files changed. 
      if: steps.changelog.outputs.CHANGELOG_UPDATED != 'CHANGELOG.md'
      uses: mshick/add-pr-comment@v2
      with:
        message: |
          No changelog updated detected, please add a summary of changes to CHANGELOG.md!

    - name: Run step only when any of the above files changed test 
      if: steps.changelog.outputs.CHANGELOG_UPDATED == 'CHANGELOG.md'
      uses: mshick/add-pr-comment@v2
      with:
        message: |
          Changelog updated detected. Good work!
          