name: Passport SDK Sample App Deployment

on:
  push:
    paths:
      - "packages/passport/**"
    branches:
      - main
  workflow_dispatch:

# this is used by github OIDC to assume the admin role later on
permissions: # see this: https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs
  id-token: write # This is required for requesting the JWT
  contents: write # This is required for actions/checkout

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      AWS_REGION: us-east-2
    steps:
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.AWS_IMMUTABLE_PROD_ADMIN_ROLE }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: setup
        uses: ./.github/actions/setup

      - name: Build Static Passport sample app
        run: pnpm nx run @imtbl/passport-sdk-sample-app:build --skip-nx-cache

      - name: Update SDK version
        run: pnpm --filter @imtbl/passport-sdk-sample-app update-sdk-version

      - name: Upload to S3
        run: |
          aws s3 sync ./packages/passport/sdk-sample-app/out s3://imx-passport-frontend-prod/sdk-sample-app

      - name: Clear the cloudfront cache
        run: |
          aws cloudfront create-invalidation --distribution-id ${{ secrets.CF_PASSPORT_PROD_DISTRIBUTION_ID }} --paths "/*"
