name: Playwright Tests
on:
  pull_request:
    branches: [main]
  merge_group:
    branches: [main]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.40.0-jammy
    steps:
      - name: Checkout
        uses: actions/checkout@v4
  
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: samples/apps/ts-immutable-sample/.nvmrc
          cache: 'yarn'

      - name: Restore cached node_modules
        id: restore-cache-node_modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-build-cache-deps-${{ hashFiles('yarn.lock') }}
  
      - name: Install root dependencies
        if: steps.restore-cache-node_modules.outputs.cache-hit != 'true' 
        run: yarn install --immutable

      - name: Build SDK
        run: yarn build

      - name: Install sample apps dependencies
        run: cd samples/apps/ts-immutable-sample && yarn install --no-immutable

      - name: Run Unit tests
        run: cd samples/apps/ts-immutable-sample && yarn test

      - name: Run Playwright tests
        env:
          # Required for Firefox to run
          # https://github.com/microsoft/playwright/issues/6500#issuecomment-838515115
          HOME: /root
        working-directory: samples/apps/ts-immutable-sample
        run: yarn playwright test
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
