name: Publish SDK Reference Docs

on:
  push:
  # workflow_run:
  #   workflows: ["Publish to NPM"]
  #   types:
  #     - completed

jobs:
  PublishDocs:
    name: Publish SDK Reference Docs
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.PLATFORM_SA_GITHUB_TOKEN }}
    steps:
      # - name: Echo Workflow Inputs
      #   run: |
      #     echo "VERSION=${{ github.event.workflow_run. }}"

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # - name: Checkout Docs Repo
      #   uses: actions/checkout@v3
      #   with:
      #     repository: immutable/imx-docs
      #     token: ${{ secrets.PLATFORM_SA_GITHUB_TOKEN }}
      #     path: imx-docs
      #     ref: main

      - name: Setup environment variables
        run: |
          echo "VERSION=$(git describe --tags --abbrev=0)"

      # - name: Setup environment variables
      #   run: |
      #     echo "VERSION=${{ github.event.inputs.version }}" >> $GITHUB_ENV
      #     echo "CLONE_DIR=./imx-docs" >> $GITHUB_ENV

      # - name: Pending release check
      #   run: ./.github/scripts/check-pending-release.sh
      #   shell: bash

      # - name: Setup Github
      #   run: |
      #     git config --global user.name "${GITHUB_ACTOR}"
      #     git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      # - name: Setup Node
      #   uses: actions/setup-node@v3
      #   with:
      #     node-version: lts/*
      #     cache: 'yarn'

      # - name: Install dependencies
      #   run: yarn install --immutable

      # - name: Build
      #   run: export NODE_OPTIONS=--max-old-space-size=6144 && yarn build

      # - name: Build SDK Docs
      #   run: yarn docs:build

      # - name: Update version link
      #   run: ./.github/scripts/update-docs-link.sh

      # - name: Create SDK Docs PR
      #   run: ./.github/scripts/push-docs-pr.sh
      #   shell: bash
