name: Publish SDK Reference Docs

on:
  workflow_run:
    workflows: ["Publish to NPM"]
    types:
      - completed

jobs:
  PublishDocs:
    name: Publish SDK Reference Docs
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.PLATFORM_SA_GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Checkout Docs Repo
        uses: actions/checkout@v3
        with:
          repository: immutable/imx-docs
          token: ${{ secrets.PLATFORM_SA_GITHUB_TOKEN }}
          path: imx-docs
          ref: main

      - name: Setup environment variables
        run: |
          echo "VERSION=$(git describe --tags --abbrev=0)" >> $GITHUB_ENV
          echo "CLONE_DIR=./imx-docs" >> $GITHUB_ENV

      - name: Pending release check
        run: ./.github/scripts/check-pending-release.sh
        shell: bash

      - name: Setup Github
        run: |
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
          cache: 'yarn'

      - name: Update SDK package.json version
        run: |
          tmp=$(mktemp)
          jq '.version = "${{ env.VERSION }}"' ./package.json > "$tmp" && mv "$tmp" ./package.json
        shell: bash

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build
        run: export NODE_OPTIONS=--max-old-space-size=6144 && yarn build

      - name: Build SDK Docs
        run: yarn docs:build

      - name: Update version link
        run: ./.github/scripts/update-docs-link.sh

      - name: Create SDK Docs PR
        id: docs_pr 
        run: ./.github/scripts/push-docs-pr.sh
        shell: bash

      - name: Notify SDK Slack Docs PR Success
        if: ${{ success() && steps.docs_pr.conclusion == 'success' }}
        uses: ./.github/actions/notify-slack-publish-status
        with:
          message: "✅ Docs PR published successfully - please review and merge (Release SDK reference docs v${{ env.VERSION }})[https://github.com/immutable/imx-docs/pulls]"

      - name: Notify SDK Slack Docs PR Failure
        if: ${{ failure() && steps.docs_pr.conclusion == 'failure' }}
        uses: ./.github/actions/notify-slack-publish-status
        with:
          message: "❌ Docs PR failed to publish. Please check the logs for more details."
