:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  padding: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.flex-container {
  width: 100%;
} 